{% extends 'base.html.twig' %}

{% block title %}Edit Calendar {{ calendar.title }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('calendar_index') }}">Calendar </a></li>
    <li> Calendars {{ calendar.title }} </li>
{% endblock %}

{% block h1 %}
    Calendars {{ calendar.title }}
{% endblock %}

{% block body %}

    {{ include('calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('calendar_index') }}">back to list</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
