{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block breadcrumbs %}
    <li>
        Calendar
    </li>
{% endblock %}

{% block h1 %}
Calendar
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-8">

            <div class="space"></div>

            <div id="calendar"></div>
        </div>

        <div class="col-sm-4">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.about) }}
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.start) }}</div>
                <div class="col-sm-6"> {{ form_row(form.end) }}</div>
            </div>

            <hr>
            <div class="row">
                <div class="col-sm-4">{{ form_row(form.color) }}</div>
                <div class="col-sm-4"> {{ form_row(form.textColor) }}</div>
                <div class="col-sm-4">  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                       <i style="font-size: 1.5pc" class="ace-icon glyphicon glyphicon-picture"></i>
                        Icons
                    </button></div>
            </div>

            <hr>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Icons</h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <div class="bootstrap-colorpicker">
                                    {{ form_row(form.iconColor) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="bootstrap-colorpicker">
                                    {{ form_row(form.iconTextColor) }}
                                </div>
                            </div>
                            <div class="row" style=" height: 200px;  overflow: auto;">
                                {% for item_ch in form.icon %}
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <i style="font-size: 25px"
                                                   class="ace-icon fa {{ item_ch.vars.value }}"></i>
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_row(item_ch, {label:false}) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(form.status) }}

            <div class="row">
                <div class="{{ id is empty ? "col-sm-12" : "col-sm-6" }} ">
                    <button type="submit" id="btn-submit"
                            class="btn btn-primary ">Save
                    </button>

                    <a href="{{ path("calendar_index") }}" class="btn btn-default">Cancel</a>
                </div>
                {% if id is not empty %}
                    <div class="col-sm-6">
                        <a href="{{ path("calendar_delete", {id: id}) }}" class="btn btn-danger pull-right">Delete</a>
                    </div>
                {% endif %}
            </div>


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts_top %}
    {{ parent() }}
    <script type="text/javascript">

        const getDataUrl = function(start, end) {
            return "{{ path('calendar_get_items') }}/" + start + '/'+end;
        }

        const changeData = function (id, start, end) {
            window.location.href = "{{ path('calendar_change_data') }}/" + id + "/" + start + "/" + end;
        };
        const redirectToEdit = function (id) {
            window.location.href = "{{ path('calendar_index') }}/" + id;
        };

    </script>
{% endblock %}
