{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-sm-8">

            <div class="space"></div>

            <div id="calendar"></div>
        </div>

        <div class="col-sm-4">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.about) }}
            {{ form_row(form.start) }}
            {{ form_row(form.end) }}
            {{ form_row(form.color) }}
            {{ form_row(form.textColor) }}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Icons
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <div class="control-group">
                                <div class="bootstrap-colorpicker">
                                    {{ form_row(form.iconColor) }}
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="bootstrap-colorpicker">
                                    {{ form_row(form.iconTextColor) }}
                                </div>
                            </div>
                            <div class="row" style=" height: 200px;  overflow: auto;">
                                {% for item_ch in form.icon %}
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <i style="font-size: 25px"
                                                   class="ace-icon fa {{ item_ch.vars.value }}"></i>
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_row(item_ch, {label:false}) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(form.status) }}

            <div class="row">
                <div class="{{ id is empty ? "col-sm-12" : "col-sm-6" }} ">
                    <button type="submit" id="btn-submit"
                            class="btn btn-primary ">Save
                    </button>

                    <a href="{{ path("calendar_index") }}" class="btn btn-default">Cancel</a>
                </div>
                {% if id is not empty %}
                    <div class="col-sm-6">
                        <a href="{{ path("calendar_delete", {id: id}) }}" class="btn btn-danger pull-right">Delete</a>
                    </div>
                {% endif %}
            </div>


            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts_top %}
    {{ parent() }}
    <script type="text/javascript">

        const changeData = function (id, start, end) {
            window.location.href = "{{ path('calendar_change_data') }}/" + id + "/" + start + "/" + end;
        };
        const redirectToEdit = function (id) {
            window.location.href = "{{ path('calendar_index') }}/" + id;
        };
        const calendarEvents = [{% for item in items %}{
            id: "{{ item.id }}",

            color: "{{ item.color is not empty ? item.color : '#ffad46' }}",
            textColor: "{{ item.textColor is not empty ? item.textColor : '#fff' }}",
            title: "{{ item.title }}",
            start: "{{ item.start | date('Y-m-d') }}",
            end: "{{ item.end | date('Y-m-d') }}",
            className: "label-important",
            about: "{{ item.about }}"
        },{% endfor %}];
    </script>
{% endblock %}
