{% extends 'base.html.twig' %}

{% block title %}Calendars{% endblock %}

{% block breadcrumbs %}
    <li>
        Calendars
    </li>
{% endblock %}

{% block h1 %}
    Calendars
{% endblock %}

{% block search_input %}
    {% include 'calendar/new_calendar_button.html.twig' %}
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-sm-8">

        <div class="space"></div>

        <div id="calendar_js"></div>
    </div>
    <div class="col-sm-4">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title blue smaller">
                    <i class="ace-icon fa fa-calendar orange"></i>
                    Select calendars
                </h4>

            </div>

            <div class="widget-body">
                <div class="widget-main padding-8">
                    <div id="profile-feed-1" class="profile-feed ace-scroll" style="position: relative;">
                        <div class="scroll-track scroll-active" style="display: block; height: 600px;">
                            <div class="scroll-bar" style="height: 62px; top: 138px;">
                            </div></div><div class="scroll-content" style="max-height: 600px;">
                            {% if pagination.getTotalItemCount == 0 %}
                                <p>You have no calendars. <a href="{{ path('calendar_new') }}"> Create new calendar </a></p>
                            {% endif %}
                            {% for index,calendar in pagination %}
                            <form action="" method="get" id="calendar_form_items">
                            <div class="profile-activity clearfix">
                                <div>
                                    {% if calendar.user != app.user %}
                                    <img class="pull-left" alt="Susan Smith's avatar" src="{{  asset('build/images/avatars/avatar1.png') }}">
                                    <a class="user" href="#"> {{ calendar.user.email }} </a>
                                    {% endif %}
                                    <div>
                                        <input type="checkbox"
                                                name="show_calendar[]"
                                                class="ace ace-checkbox-2 ace-save-state select_calendar"
                                                {% if (app.request.get('show_calendar') is empty and loop.index == 1)
                                                    or calendar.id in app.request.get('show_calendar')  %}
                                                    checked
                                                {% endif %}
                                                value="{{ calendar.id }}" id="ace-settings-navbar_{{ index }}" autocomplete="off" />
                                        <label class="lbl" for="ace-settings-navbar_{{ index }}"> {{ calendar.title }}</label>
                                    </div>
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                        {{ calendar.createdAt | date("d/m/Y H:i") }}
                                    </div>
                                </div>

                                <div class="tools action-buttons">
                                    <a href="{{ path('calendar_show', {id:calendar.id}) }}" class="blue">
                                        <i class="ace-icon fa fa-pencil bigger-125"></i>
                                    </a>


                                </div>
                            </div>
                            {% endfor %}
                            </form>
                        </div></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        const getDataUrl = function (start, end) {
            let calendarId = '';
            $('#calendar_form_items input[type=checkbox]').each(function() {
                if (this.checked) {
                    calendarId += (calendarId == '' ? '?' : '&') + 'calendarId[]=' + $(this).val();
                }
            });
            return "{{ path('calendar_items_ajax' ) }}"+calendarId+"&start=" + start + '&end=' + end;
        }

        const changeData = function (id, start, end) {
            window.location.href = "{{ path('calendar_item_change_data') }}/" + id + "/" + start + "/" + end;
        };


        const redirectToEdit = function (calendarId, id) {
            window.location.href = "{{ path('calendar_show') }}/" + calendarId + "/" + id;

        };

        const isEditable = function () {
            return true;
        }

        const isDroppable = function () {
            return false;
        }


    </script>
{% endblock %}