{% extends 'login-base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <div class="login-container">
        <div class="center">
            <h1>
                <i class="ace-icon fa fa-leaf green"></i>
                <span class="red"> {{ site_name }}</span>
            </h1>

        </div>

        <div class="space-6"></div>

        <div class="position-relative">
            <div id="login-box" class="visible login-box widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            <i class="ace-icon fa fa-coffee green"></i>
                            Please Enter Your Information
                        </h4>
                        <div class="space-6"></div>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">

                                        <input v-model="{{ last_username }}" type="text"
                                               name="email" id="login-username" class="form-control"
                                               placeholder="Username"/>
                                        <i class="ace-icon fa fa-user"></i>
                                    </span>
                                </label>

                                <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input type="password" name="password" id="inputPassword"
                                           class="form-control" required>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
									<i class="ace-icon fa fa-lock"></i>
                                </span>
                                </label>

                                <div class="space"></div>

                                <div class="clearfix">
                                    <label class="inline">
                                        <input type="checkbox" class="ace" id="remember_me" name="_remember_me" checked/>
                                        <span class="lbl"> Remember Me</span>
                                    </label>

                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                        <i class="ace-icon fa fa-key"></i>
                                        <span class="bigger-110">Login</span>
                                    </button>
                                </div>

                                <div class="space-4"></div>
                            </fieldset>
                        </form>
                        <div class="space-6"></div>

                    </div><!-- /.widget-main -->

                    {% include 'elements/login_toolbar.html.twig' %}
                </div>
            </div><!-- /.login-box -->
        </div><!-- /.position-relative -->
    </div>

{% endblock %}
