{% extends 'base.html.twig' %}

{% block title %}Timeline{% endblock %}
{% block breadcrumbs %}
    <li>
        Timeline
    </li>
{% endblock %}

{% block h1 %}
    Timeline
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="">

                <span class="green middle bolder">Total:  {{ pagination.getTotalItemCount }} &nbsp;</span>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="space"></div>
            <div id="timeline-1">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        {% if pagination.getTotalItemCount > 0 %}
                            {% set showed = '' %}
                            {% set showed2 = '' %}
                            {% for item in pagination.items %}
                                {% if showed != (item.start | date("Y-m-d")) %}
                                    <div class="timeline-container">
                                        <div class="timeline-label">
                                            {% set date_t = item.start | date('Y-m-d') %}
                                            {% if date_t == "" | date('Y-m-d') %}
                                                <span class="label label-success arrowed-in-right label-lg">
                                            <b>Today</b>
                                        </span>
                                            {% elseif date_t == "" | date_modify("+1 day") |date('Y-m-d') %}
                                                <span class="label label-yellow arrowed-in-right label-lg">
                                            <b>Tomorrow</b>
                                        </span>
                                            {% elseif date_t == "" | date_modify("-1 day") |date('Y-m-d') %}
                                                <span class="label label-default arrowed-in-right label-lg">
                                            <b>Yesterday</b>
                                        </span>
                                            {% else %}
                                                <span class="label label-primary arrowed-in-right label-lg">
                                            <b>{{ item.start | date('d/m/Y') }}</b>
                                         </span>
                                            {% endif %}

                                        </div>
                                        {% for item_ in pagination.items %}

                                            {% set sDate = item_.start | date("Y-m-d") %}
                                            {% set sEnd = item_.start | date("Y-m-d") %}
                                            {% set dDate = item.start | date("Y-m-d") %}

                                            {% if sDate >= dDate and sEnd <= dDate %}
                                                {% set background_item = item_.calendar.color is not empty ? 'background-color: '~item_.calendar.color~';' %}
                                                {% set border_left_color = item_.calendar.color is not empty ? 'border-left: 3px solid '~item_.calendar.color~'!important;' %}
                                                {% set textColor_item = item_.calendar.textColor is not empty ? 'color: '~item_.calendar.textColor~';' %}

                                                <div class="timeline-items" >
                                                    <div class="timeline-item clearfix" >
                                                        {% if item_.icon is not empty %}
                                                            <div class="timeline-info">
                                                                <i style="{{ item_.color is not empty ? 'background-color: '~item_.color~'; ' : 'background-color: #3A87AD;' }}
                                                            {{ item_.textColor is not empty ? 'color: '~item_.textColor~'; ' }}"
                                                                   class="timeline-indicator ace-icon fa {{ item_.icon }} no-hover">
                                                                </i>
                                                            </div>
                                                        {% endif %}

                                                         <span style="margin-bottom: 10px; {{ background_item ~ textColor_item }}" class="label label-sm">{{ item_.calendar.title}} </span>
                                                        {% set showed2 = item_.start | date('U') %}
                                                        <div class="widget-box transparent "  style="{{ border_left_color }}">
                                                            <div class="widget-header widget-header-small">

                                                                <h5 class="widget-title smaller" >
                                                                    <a href="{{ path('calendar_show', {
                                                                        id: item_.calendar.id,
                                                                        item: item_.id
                                                                    }) }}" class="blue">{{ item_.title }}</a>
                                                                </h5>
                                                                <span class="widget-toolbar">

                                                              <a href="{{ path("timeline_status", {id: item_.id}) }}">
                                                        <i class="ace-icon fa fa-check green bigger-130"></i>
                                                    </a>
                                                    <a href="{{ path("calendar_show", {
                                                        id: item_.calendar.id,
                                                        item: item_.id
                                                    }) }}">
                                                        <i class="ace-icon fa fa-pencil blue bigger-125"></i>
                                                    </a>


                                                            </span>
                                                                <span class="widget-toolbar no-border">
																	<i class="ace-icon fa fa-clock-o bigger-110"></i>
																	{{ item_.start | date('H:i') }}
																</span>
                                                            </div>



                                                            {% set background = item_.color is not empty ? 'background-color: '~item_.color~'!important;' %}
                                                            {% set textColor = item_.textColor is not empty ? 'color: '~item_.textColor~'!important;' %}

                                                            <div class="widget-body" style="{{ background ~ textColor }}">
                                                                <div class="widget-main">
                                                                    {% if item_.tagsCount > 0 %}

                                                                        {{ render(controller('App\\Controller\\ChecklistController:getTagsByCalendarItem', {calendarItem:item_})) }}

                                                                    {% endif %}
                                                                    {{ item_.about }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /.timeline-items -->
                                            {% else %}

                                            {% endif %}

                                        {% endfor %}
                                    </div><!-- /.timeline-container -->
                                {% endif %}
                                {% set showed = (item.start | date("Y-m-d")) %}

                            {% endfor %}
                        {% else %}
                            {% include 'elements/emty-items.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        const isEditable = function () {
            return false;
        }

        const isDroppable = function () {
            return false;
        }

    </script>
{% endblock %}
