{% extends 'base.html.twig' %}

{% block title %}CalendarItem index{% endblock %}

{% block breadcrumbs %}
    <li>
        Calendars index
    </li>
{% endblock %}

{% block h1 %}
    Calendars index
{% endblock %}

{% block search_input %}
    {% include 'calendar_item/new_calendar_item_button.html.twig' %}
{% endblock %}

{% block body %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="row">
        {{ form_start(calendarFilterType) }}
        <table class="table">
            <thead>
            <tr>
                <td><div>{{ form_label(calendarFilterType.calendar) }}</div><div>{{ form_widget(calendarFilterType.calendar) }}</div></td>
                <td>{{ form_row(calendarFilterType.title) }}</td>
                <td>{{ form_row(calendarFilterType.dateStartEnd) }}</td>
                <td><div style="margin-top: 25px">
                        <button class="btn btn-default btn-sm" type="submit">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                        </button>
                        <a href="{{ path("calendar_item_index") }}" type="submit" class="btn btn-default btn-sm">
                            <span class="ace-icon glyphicon glyphicon-remove bigger-110"></span>

                        </a>
                    </div>
                </td>
            </tr>

            </thead>
            <tbody>
            {% for calendar_item in pagination %}
                <tr>
                    <td width="60%">{{ calendar_item.title }}</td>
                    <td>
                        {{ calendar_item.start ? calendar_item.start|date('d/m/Y H:i') : '' }}
                        {{ calendar_item.end ? ' - '~calendar_item.end|date('d/m/Y H:i') : '' }}
                    </td>

                    <td>
                        <a href="{{ path('calendar_item_show', {'id': calendar_item.id}) }}">show</a>
                        <a href="{{ path('calendar_item_edit', {'id': calendar_item.id}) }}">edit</a>
                    </td>
                </tr>
                {% if calendar_item.about is not empty %}
                    <tr>
                        <td colspan="3">
                            <div class="col-xs-12">
                                <blockquote>
                                    <p><strong>About</strong></p>
                                    {{ calendar_item.about }}

                                </blockquote>
                            </div>

                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(calendarFilterType) }}
        <a href="{{ path('calendar_item_new') }}">Create new</a>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
