{% extends 'base.html.twig' %}

{% block title %}Group{% endblock %}

{% block body %}
    <h1>Group</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ group.title }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ group.about }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ group.createdAt ? group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ group.updatedAt ? group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ group.deletedAt ? group.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('group_index') }}">back to list</a>

    <a href="{{ path('group_edit', {'id': group.id}) }}">edit</a>

    {{ include('group/_delete_form.html.twig') }}
{% endblock %}
