{% extends 'base.html.twig' %}

{% block title %}Checklist{% endblock %}
{% block breadcrumbs %}
    <li>
        Checklist
    </li>
{% endblock %}

{% block h1 %}
    Checklist
{% endblock %}

{% block search_input %}
    {{ form_start(tagSearchForm) }}
    <div class="input-group input-group-lg">

        {{ form_widget(tagSearchForm.query, {class: 'form-control search-query"', attr : {placeholder : '#yourtag #sometag / some text'}}) }}
        <span class="input-group-btn">
        <button type="submit"
                class="btn btn-default btn-lg">
            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>

        </button>
         <a href="{{ path("checklist_index") }}" type="submit" class="btn btn-default btn-lg">
            <span class="ace-icon glyphicon glyphicon-remove bigger-110"></span>

        </a>
    </span>
    </div>

    {{ form_end(tagSearchForm) }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <span class="green middle bolder">Total:  {{ pagination.getTotalItemCount }} &nbsp;</span>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="btn-group">
                        {% if  pagination.getTotalItemCount >= 2 %}
                        {% for i in 1..3 %}
                            {% set disabled = (app.request.query.get('show-as') is empty and i == 1) or app.request.query.get('show-as') == i ? 'disabled' %}
                            <a href="{{ path('checklist_index', {'show-as': i} | merge( app.request.query.all() | filter((k,v) => v != 'show-as'))) }}"
                                    {{ disabled }} type="button" class="btn {{ disabled }}">{{ i }}</a>

                        {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="space"></div>
            {% if pagination.getTotalItemCount > 0 %}
                <div class="row">
                    {% for item in pagination %}
                        <div class="col-sm-{{ 12 / app.request.query.get('show-as', 1) }}">
                            <table width="100%" class="table " border="0">
                                <tr style="{{ item.color is not empty ? 'background:'~item.color~';' }}"
                                    class=" message-unread {{ app.request.get('id') == item.id ? 'selected' }} ">
                                    <td width="3%">{{ loop.index }}</td>
                                    <td width="3%">
                                        <input type="checkbox"
                                                {{ item.status == 2 ? 'checked' }}
                                               onclick="document.location.href = '{{ path('checklist_status', {id:item.id}|merge(app.request.query.all())) }}';"
                                               class="ace"/>
                                        <span class="lbl"></span>
                                    </td>
                                    <td width="30%">
                                     <span style=" {{ item.status == 2 ? 'text-decoration: line-through' }} "
                                           class=" {{ item.status == 2 ? 'text-muted' : 'sender' }}"
                                           title="{{ item.title }}">{{ item.title }}</span>
                                    </td>
                                    <td width="45%">
                                    <span style="{{ item.status == 2 ? 'text-decoration: line-through' }} "
                                          class=" {{ item.status == 2 ? 'text-muted' : 'text' }}">
                                        {{ item.about }}
                                    </span>
                                    </td>
                                    {% if  app.request.query.get('show-as') < 3 %}
                                    <td width="20%">
                                        <div class="pull-right">

                                            {% if item.status == 1 %}
                                                <a href="{{ path('checklist_calendar', {id: item.id}) }}">
                                                    <i class="ace-icon fa fa-calendar-plus-o red bigger-125"
                                                       style="padding-right: 10px;"></i>
                                                </a>
                                            {% else %}
                                                <i class="ace-icon fa fa-calendar-plus-o grey bigger-125"
                                                   style="padding-right: 10px;"></i>
                                            {% endif %}
                                            <a href="{{ path('checklist_index', {id: item.id}|merge(app.request.query.all())) }}"><i
                                                        class="ace-icon fa fa-pencil blue bigger-125"></i></a>

                                            {% if item.externalLink is not empty %}
                                                <a href="{{ item.externalLink }} " target="_blank">
                                                    <i class="ace-icon fa fa-share  red bigger-125"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                {% include 'elements/emty-items.html.twig' %}
            {% endif %}

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-sm-4">
            {% if id is not empty %}
                 {{ form_start(form,  {action:  path('checklist_index', {id: id} |merge(app.request.query.all()))}) }}
            {% else %}
                {{ form_start(form,  {action:  path('checklist_index', app.request.query.all() )}) }}
            {% endif %}
            {{ form_row(form.title) }}
            <div class="{{ app.request.query.get('all-form') != 'yes' ? 'hidden' }}">
                {{ form_row(form.about) }}
                {{ form_row(form.color) }}
                {{ form_row(form.hashtag) }}
                {{ form_row(form.status) }}

                {{ form_row(form.externalLink) }}
                (https://www.playphrase.me)
            </div>
            {% if app.request.query.get('all-form') != 'yes' %}
                <a href="{{ path("checklist_index", {'all-form': 'yes'}|merge(app.request.query.all()| filter((k,v) => v != 'all-form'))) }}">more ...</a>
            {% else %}
                <a href="{{ path("checklist_index", app.request.query.all()| filter((k,v) => v != 'all-form'))}}">less ...</a>

            {% endif %}
            <hr>
            <div class="row">
                <div class="{{ id is empty ? "col-sm-12" : "col-sm-6" }} ">
                    <button type="submit" id="btn-submit"
                            class="btn btn-primary ">Save
                    </button>

                    <a href="{{ path("checklist_index", app.request.query.all()) }}" class="btn btn-default">Cancel</a>
                </div>
                {% if id is not empty %}
                    <div class="col-sm-6">
                        <a href="{{ path("checklist_delete", {id: id}|merge(app.request.query.all())) }}"
                           onclick="return confirm('Delete this item?');"
                           class="btn btn-danger pull-right">Delete</a>
                    </div>
                {% endif %}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts_top %}
    {{ parent() }}
    <script type="text/javascript">

        const isEditable = function () {
            return false;
        }

        const isDroppable = function () {
            return false;
        }

        const isTag = {{ id is not empty ? 'false' : 'true' }};
        const getTagDataUrl = function (query) {
            return "{{ path('checklist_tags') }}/" + query;
        }

    </script>
{% endblock %}