{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <li>
        Dashboard
    </li>
{% endblock %}

{% block h1 %}
    Dashboard
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-signal"></i>
                        My Progress
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-4">
                        <canvas id="myChart" width="400" height="100"></canvas>

                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div>
    </div>
    <h3>Other sections</h3>
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ path('calendar_index') }}" class="btn btn-app btn-primary no-radius">
                <i class="ace-icon fa fa-calendar bigger-230"></i>
                Calendar
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('timeline_index') }}" class="btn btn-app btn-primary no-radius">
                <i class="ace-icon glyphicon glyphicon-list bigger-230"></i>
                Timeline
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('checklist_index') }}" class="btn btn-app btn-primary no-radius">
                <i class="ace-icon glyphicon glyphicon-check bigger-230"></i>
                Checklist
            </a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
function getCharsetUrl() {
    return "{{ path('get_charset_data') }}";
}
</script>
{% endblock %}
